openapi: 3.0.0
info:
  title: AWS CloudControl MCP Server
  description: AWS CloudControl MCP Server
  version: 1.0.0
  contact:
    email: aws@tomassabol.com
servers:
  - description: AWS CloudControl MCP Server - Production
    url: https://api.tomassabol.io/aws-cloudcontrol
tags:
  - name: MCP
    description: Model Context Protocol endpoints
paths:
  /mcp:
    post:
      operationId: post-mcp
      tags:
        - MCP
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mcp-response"
        "400":
          $ref: "#/components/responses/invalid-request"
        "500":
          $ref: "#/components/responses/internal-error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mcp-request"
components:
  parameters:
    storeId:
      name: storeId
      in: query
      description: Store ID
      required: false
      schema:
        type: string
      example: "17"
    shippingMethod:
      name: shippingMethod
      in: query
      description: Shipping method
      required: false
      schema:
        type: string
      example: allegro_dhl_kurier
  schemas:
    mcp-response:
      $ref: ./schemas/MCPResponse.json
    error:
      $ref: ./schemas/ErrorApiResponse.json
    success:
      $ref: ./schemas/SuccessApiResponse.json
    mcp-request:
      $ref: ./schemas/MCPRequest.json
  responses:
    invalid-request:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error"
          example:
            error: Invalid request
            details:
              - instancePath: ""
                schemaPath: "#/required"
                keyword: required
                params: {}
                missingProperty: example
                message: must have required property 'example'
            requestId: b37d9af0-cc1e-4acb-a5f5-7fc9c968a759
    internal-error:
      description: Internal Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/error"
          example:
            error: Internal error
            details: See logs for more details.
            requestId: b37d9af0-cc1e-4acb-a5f5-7fc9c968a759
